:root {
  --bg-color: #3a3c3f;
  --hover-color: #28292b;
  --theme-purple: rgb(172, 138, 216);
}

html {
  scroll-timeline: --page-scroll block;
}

body {
  font-family: "Libertinus Math", sans-serif;
  background-color: var(--bg-color);
  color: white;
}

.navbar,
.navbar-brand {
  font-size: 1.5rem;
}

a {
  font-size: 140%;
}

a:visited {
  color: white;
}

a:hover {
  color: var(--theme-purple);
}

main {
  margin: 7em 0 2em 0;
}

#intro {
  position: relative;
}

#intro-text {
  position: relative;
  margin-bottom: 3em;
}

#scroll-banner {
  width: 100vw;
  position: absolute;
  left: 35%;
  background-color: var(--theme-purple);
  height: 6rem;
}

.modal {
  color: black;
}

img,
video {
  max-width: 100%;
}

.card {
  width: 50%;
  font-size: 125%;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

#memoryGame-card:hover,
#textGame-card:hover {
  box-shadow: 5px 10px var(--hover-color);
}

#dogToys-card:hover,
#demoGame-card:hover {
  box-shadow: -5px 10px var(--hover-color);
}

.card-title,
.modal-header {
  text-decoration: underline;
}

.card-text {
  font-size: 95%;
}

.image-btn-container {
  position: relative;
}

.image-btn-container:hover {
  .card-img-top {
    border: 0.15em solid black;
  }
}

#dogSite-tile-button {
  height: 65%;
}

.modalBtn {
  position: absolute;
  top: 50;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
}

.modalBtn:hover {
  background-color: transparent;
}

#info-container,
#info-text {
  font-size: 1.25em;
  display: block;
}

#zoe-img {
  height: 29rem;
  width: 27rem;
  float: right;
  margin: 1em 1em 0 1em;
  border-radius: 2.5%;
  border: solid 0.15em black;
}

footer {
  margin: -1em 0 1em 0;
}

.social-btn {
  font-size: 100%;
  margin: 0 0.5em 0 0.5em;
}

.hidden {
  display: none;
}

@keyframes banner-scroll-animate {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media (min-width: 1500px) {
  #project-container {
    display: flex;
  }
  #project-row1 {
    max-width: 50%;
    display: flex !important;
  }
  #project-row2 {
    max-width: 50%;
    display: flex !important;
  }
}

@media (max-width: 580px) {
  #project-container {
    display: flex;
    flex-direction: column !important;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #project-row1 {
    display: flex !important;
    flex-direction: column !important;
  }
  #project-row2 {
    display: flex !important;
    flex-direction: column !important;
  }

  .card {
    width: 95%;
  }

  .card-text {
    display: none;
  }

  #zoe-img {
    float: none;
    margin: 0em 1em 1em 1em;
    height: 21rem;
    width: 20rem;
  }

  #info-text {
    font-size: 1.15em;
    float: none;
    text-align: center !important;
  }
}
