:root {
  --bg-color: #616468;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: white;
}

main {
  margin: 7em 0 2em 0;
}

.card {
  margin: 0 0.25em 0.5em 0.25em;
  width: 18rem;
}

.hidden {
  display: none;
}

@media (max-width: 580px) {
  .card {
    width: 10rem;
    height: 20rem;
  }
  .card-text {
    display: none;
  }
}
